@font-face {
    font-family: Karla;
    src: url("../../assets/fonts/Karla-Regular.ttf");
}

.navBar {
    margin: 1.0rem 0 1.0rem;
    font-family: Karla;
}

.navBar ul {
    overflow:hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgb(61, 61, 61);
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.navBar ul>li {
    display:inline;
    font-family: Karla;
    border-top: 1px solid rgb(61, 61, 61);
    padding: 0.3em 0;
}

.navBar a {
    text-decoration: none;
    background-color: transparent;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

.navBar path:hover {
    fill: white;
}

.navBar img {
    height: 75px;
}

.navBar a {
    margin: 0 10px 0.5em;
    background-color: transparent;
}