  .title {
  font-size: 42px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: -5px;
  position: relative;
}

.title a {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: CrimsonText;
  src: url("../assets/fonts/CrimsonText-Regular.ttf") format("truetype");
}

.articlesList,
.articlesList > li {
  list-style: none;
  padding: 0;
}

.footer {
  margin-top: 7rem;
}

@font-face {
  font-family: Karla;
  src: url("../assets/fonts/Karla-Regular.ttf") format("truetype");
}

.container {
  box-sizing: border-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0.5em 3vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 790px;
  font-family: Karla;
}

.container h3 {
  margin: inherit;
}

.fixed {
  width: 15%;
}

.flexItem {
  padding-top: 15px;
  float: right;
}

@media only screen and (max-width: 800px) {
  .flexItem {
    width: 100%;
  }

  .title {
    padding-top: 0px;
    padding-left: 50px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 800px) {
  .bannerImage {
    background-image: url("../assets/images/7_train_banner.jpg");
    width: 100%;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .divider:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 100%;
    padding-top: 20px;
    border-bottom: 0.5px solid #B933AD
  }
}

.footer {
  border-top: 1px solid #eee;
  padding-top: 2.5em;
}