html, body {
  /* needed because hiding the menu on the right side is not perfect,  */
  overflow-x:hidden;
} 

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0rem 3rem;
}

header.top {  
  height: 100%;
  padding: 1em 3vw;
  background-color: black;
}

main {
  padding-top: 4em;
  padding-bottom: 4em;
}

@media only screen and (min-width: 800px) {
  header.top {
    width: 20vw;
    position: fixed;
    text-align: center;
  }

  main {
    margin-left: 20vw;
  }

  .menuItems ul {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .menuItems {
    display: none !important;
  }
}