@font-face {
  font-family: Helvetica;
  src: url("../assets/fonts/HelveticaNeueLTStd-BlkIt.otf") format("opentype");
}

.title {
  font-family: Helvetica; 
  font-size: 42px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700;
  letter-spacing: -5px;
  position: relative;
  width: 90%;
  max-width: 1000px;
}

.title a {
  color: black;
  text-decoration: none;
}

.redPeriod {
  color: #FF0000 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.articlesList,
.articlesList > li {
  list-style: none;
  padding: 0;
}

.footer {
  margin-top: 7rem;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
}

.container h3 {
  margin: inherit;
}

.fixed{
  width: 15%;
}

.flexItem{
  width: 60%;
  float: right;
}

.twitterItem{
  width: 25%;
  float: right;
  margin-left: 150px;
}