  .title {
  font-size: 42px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: -5px;
  position: relative;
  /* width: 90%; */
  /* max-width: 1000px; */
}

.title a {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: CrimsonText;
  src: url("../assets/fonts/CrimsonText-Regular.ttf") format("truetype");
}

.latest h1 {
  margin-top: auto;
  font-family: CrimsonText;
  font-size: 2.66667rem;
}

.latest h1:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */

  width: 60px; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 0.5px solid red; /* This creates the border. Replace black with whatever color you want. */
}

.articlesList,
.articlesList > li {
  list-style: none;
  padding: 0;
}

.footer {
  margin-top: 7rem;
}

@font-face {
  font-family: Karla;
  src: url("../assets/fonts/Karla-Regular.ttf") format("truetype");
}

.container {
  box-sizing: border-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0.5em 3vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 790px;
  font-family: Karla;
}
/* .container {
  display: flex;
  padding-left: 28.35px;
  padding-right: 28.35px;
} */

.container h3 {
  margin: inherit;
}

.fixed {
  width: 15%;
}

.flexItem {
  /* width: 60%; */
  float: right;
}

@media only screen and (max-width: 800px) {
  .flexItem {
    width: 100%;
  }
  
  .title {
    padding-top: 0px;
    padding-left: 50px;
    margin-top: 10px;
  }
}

.footer {
  border-top: 1px solid #eee;
  padding-top: 2.5em;
}