.menuItems ul {
    border-bottom: 1px solid white;
}

.menuItems ul > li { 
    border-top: 1px solid white;
}

.menuItems ul > li > a {
    color: white;
    text-decoration: none;
}

.menuItems svg {
    height: 18px;
}

.menuItems path {
    fill: white;
}

.menuItems .socialLinks > a {
    margin: 0 5px 0.5em;
}