@font-face {
    font-family: Karla;
    src: url("../assets/fonts/Karla-Regular.ttf");
}

.menuItems ul {
    border-bottom: 1px solid rgb(61, 61, 61);
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.menuItems ul>li {
    font-family: Karla;
    border-top: 1px solid rgb(61, 61, 61);
    padding: 0.3em 0;
}

.menuItems ul>li>a {
    color: rgb(197, 197, 197);
    text-decoration: none;
}

.menuItems ul>li>a:hover {
    color: white;
}

.menuItems svg {
    height: 25px;
}

.menuItems path {
    fill: rgb(197, 197, 197);
}

.menuItems path:hover {
    fill: white;
}

.menuItems .socialLinks>a {
    margin: 0 10px 0.5em;
}